[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "tmuxline.vim"]
	path = tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim-surround"]
  path = vim-surround
  url = https://github.com/tpope/vim-surround
[submodule "html5"]
  path = html5
	url = https://github.com/othree/html5.vim
[submodule "delimitMate"]
  path = delimitMate
  url = https://github.com/Raimondi/delimitMate
[submodule "emmet-vim"]
  path = emmet-vim
  url = https://github.com/mattn/emmet-vim
[submodule "vim-emoji"]
	path = vim-emoji
	url = git@github.com:junegunn/vim-emoji.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = git@github.com:mxw/vim-jsx.git
